VITE_APP_NAME=Facture
VITE_APP_DOMAIN=facture.app.amazing-ai.tools
VITE_API_BASE_URL=https://facture.api.amazing-ai.tools
VITE_BUGZERO_APP_KEY=bz_55c06d2aece6
VITE_BUGZERO_WIDGET_URL=https://bugzero.amazing-ai.tools/widget.js
